<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Preskool - Forgot Password</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" href="assets/img/favicon.png">
	
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper login-body">
            <div class="login-wrapper">
            	<div class="container">
                	<div class="loginbox">
                    	<div class="login-left">
							<img class="img-fluid" src="assets/img/logo-white.png" alt="Logo">
                        </div>
                        <div class="login-right">
							<div class="login-right-wrap">
								<h1>忘记密码?</h1>
								<p class="account-subtitle">输入您的电子邮件以获取密码重置</p>
								
								<!-- Form -->
								<form method="post" id="E01">
									<div class="form-group">
										<select v-model="rid">
										<option value="2">教师</option>
										<option value="3">学生</option>
										</select>
									    <input v-model="username" name="username" class="form-control" type="text" placeholder="用户名">
									    <input v-model="password" name="password" type="password" class="form-control" type="text" placeholder="新密码">
									    <input v-model="repassword" name="repassword" type="password" class="form-control" type="text" placeholder="确认密码">
										<input v-model="email" name="email" class="form-control" type="text" placeholder="电子邮件">
										<input v-model="vcode" name="v-code" class="form-control" type="text" placeholder="验证码">
										<button type="button" @click="sendvcode">发送验证码</button>	
									</div>
									<div class="form-group mb-0">
										<button class="btn btn-primary btn-block" type="button" @click="reset">重置密码</button>
									</div>
								</form>
								<script type="text/javascript">
									var vue = new Vue({
									 el:"#E01",
									 data:{
										 username:"",
										 password:"",
										 repassword:"",
										 email:"",
										 vcode:"",
										 rid:""
									 },
									 methods:{
										 reset(){
											 var params=new URLSearchParams();
											 params.append("username",this.username);
											 params.append("password",this.password);
											 params.append("vcode",this.vcode);
											 params.append("rid",this.rid);
											 params.append("repassword",this.repassword);
											 axios.post("reset",params).then(res=>{
												 alert(res.data.msg);
												 if(res.data.code==1){
													 location.href="login.html";
												 }
											})
										 },
										 sendvcode(){
											 var params=new URLSearchParams();
											 params.append("username",this.username);
											 params.append("rid",this.rid);
											 params.append("email",this.email);
											 axios.post("sendvcode",params).then(res=>{
												 alert(res.data.msg);
											})
										 }
									 }
									});
								</script>
															
								
								<!-- /Form -->
								
								<div class="text-center dont-have">记住密码了吗 <a href="login.html">Login</a></div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="assets/js/jquery-3.5.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		
    </body>
</html>